---
layout: map
menu:
  guide: active
---

    {% include mainmenu.html %}
    <section>
      {% include summary.html %} 
    </section>
    <hr>
    <section>
      <!-- AddThis Button BEGIN -->
      <div class="addthis_toolbox addthis_default_style ">
      <a class="addthis_button_preferred_1"></a>
      <a class="addthis_button_preferred_2"></a>
      <a class="addthis_button_preferred_3"></a>
      <a class="addthis_button_preferred_4"></a>
      <a class="addthis_button_compact"></a>
      <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
      <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-520873ed40bfdc8e"></script>
      <!-- AddThis Button END -->
      <article class="course">
       {{ content }}
       <br>
      </article>
    </section>
    <hr>
    <section>
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'hikr'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
     </section>
      <script type="text/javascript">
  window.onload = function(){
    var maps = [ {% for url in page.map %} "{{url}}", {% endfor %} {% if page.area %} "/data/area/{{page.area}}.json", {% endif %} false];
    var features = [ {% for feature in page.features %} "{{feature}}", {%endfor%} false];
    hikr = new Hikr("map", features);
    hikr.loadMaps(maps);
  };
 </script>

