<!doctype html>
<html>
<head>
  <title>Hikr{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="author" value="Leszek Rybicki, Copyright by hikr.jp">
  <meta name="keywords" value="hiking, japan {% if page.keywords %}, {{page.keywords | array_to_sentence_string }} {% endif %} }}">
  <meta name="description" value="">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/leaflet.draw.css"/>
  <link rel="stylesheet" href="{{site.url}}/css/hikr.css"/>
  <script type="text/javascript" src="{{site.url}}/js/vendor/modernizr-latest.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/vendor/jquery-2.0.3.min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/vendor/jquery.nested.js"></script>
</head>
<body class="en {{page.bodyclass}}">
    <a href="/" class="logo-float">
      hikr.jp
    </a>
  {{content}}
  <script type="text/javascript" src="{{site.url}}/js/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/vendor/backbone-min.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/vendor/leaflet.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/vendor/leaflet.draw.js"></script>
  <script type="text/javascript" src="{{site.url}}/js/hikr.js"></script>

  <script type="text/javascript">
  var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2132560-9']);
      _gaq.push(['_setDomainName', 'hikr.jp']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</body>
</html>