---
layout: default
---
.hikr-content
  <div class="left-side">
    <h2 class="motto">Hiking. With&nbsp;friends.</h2>
  </div>
  <div class="right-side">
    <main>
    {% include mainmenu.html %}
      <div class="container">
        {{ content }}
        <!-- <br class="clear"> -->
      </div>
      <div class="footer-pusher">&nbsp;</div>
      {% include footer.html %}
    </main>
  </div>
