---
layout: guide
bodyclass: home
menu:
  guide: active
---
<div class="row">
  <section>
    <div class="column-6">
      <section class="area">
        <h6>Prefectures</h6>
        <br>
        {% for pref in site.prefecture_names %}
          <a href="/pref/{{pref}}.html">{{ pref }}</a>&nbsp;<br>
        {% endfor %}
      </section>
    </div>
    <div class="column-6">
      <section>
        <h6>Tags</h6>
        <br>
        {% for tag in site.tag_names %}
          <a href="/tag/{{tag | urlize}}.html" class="tag large">{{site.tags[tag].size}} | {{ tag }}</a>
        {% endfor %}
        <br><br>
      </section>
    </div>
  </section>
</div>
<hr>
{{content}}
