---
layout: default
menu:
  areas: active
---

<div class="map-on-left">
  <div id="map">
    <div class="coords"></div>
  </div>

  <div class="article-container">
    {% include mainmenu.html %}
    <div class="section">
<h1>{{ page.area_listing }} Prefecture</h1>
<br>
{% for page in page.courses %}
{% if page.layout == "course" %}
      <div class="thumb">
        {% include blurb.html %}
      </div>
{% endif %}
{% endfor %}
<br class="clear">
    </div>
  </div>
</div>
 <script type="text/javascript">
  window.onload = function(){
    var maps = [ "/data/pref/{{page.area_listing}}.json", {% for url in page.map %} "{{url}}", {% endfor %} false];
    hikr = new Hikr("map");
    hikr.loadMaps(maps);
  };
 </script>



