---
layout: default
menu:
  tags: active
title: Courses by tag
skip_search: true
---
<div class="map-on-left">
  <div id="map">
    <div class="coords"></div>
  </div>
  <div class="article-container">
    {% include mainmenu.html %}
    <div class="section">
    <h2><a href="/tag/">Tags</a> / {{page.area_listing}}</h2>
    <br>
      {% for page in page.courses %}
      {% if page.layout == "course" %}
      <div class="thumb">
      {% include blurb.html %}
      </div>
      {% endif %}
      {% endfor %}
      <br class="clear">
    </div>
  </div>
</div>
 <script type="text/javascript">
  window.onload = function(){
    var maps = [  {% for url in page.map %} "{{url}}", {% endfor %} false];
    hikr = new Hikr("map");
    hikr.loadMaps(maps);
  };
 </script>

