---
layout: guide
title: Courses by tag
skip_search: true
menu:
  tags: active
---

<div class="section">
  <h1>Courses by tag</h1>
  <br>
  <div class="two-cols">
    {% for tag in site.tag_names %}
    <div class="tag-listing">
      <a href="/tag/{{tag}}.html" class="tag large">{{tag}}</a><br>
      <ul>
      {% for p in site.tags[tag] %}
        <li><a href="{{p.url}}">{{p.title}}</a></li>
      {% endfor %}
      </ul>
      <hr>
    </div>
    {% endfor %}
  </div>
</div>
