---
layout: page
bodyclass: about
title: About Hikr
menu:
  about: active
---

<section>
  <div class="row">
    <div class="column-6">
      <section class="padding">
        <h1>Hiking. With friends.</h1>
        <p>Hikr is a growing collection of hiking courses and other useful information for hikers in Japan. It's currently in open alpha phase (meaning: not ready yet).</p>
        <p>We are building Hikr out of love for the outdoors, the beauty of Japanese mountains and because we believe that hiking with fun people is time well spent.</p>
      </section>
    </div>
  </div>
</section>
<hr>
<section class="padding">
  <h2>The team</h2>
  <div class="row">
    <div class="column-6">
        <div class="column-4">
          <div class="teamphoto"><img src="/img/leszek.jpg" alt="Photo of Leszek">
          <h3>Leszek</h3>
          <h4>The Engineer</h4>
          </div>
        </div>
        <div class="column-8">
          <section>
          <div class="description">
            <p>Torn between the affinity for computer code and the call of the wild outdoors, Leszek is came up with the idea for Hikr as a bridge between the two worlds. Leszek is the project manager, engineer and designer behind Hikr.</p>
            <p>Born in Polish flatlands, Leszek came to Japan as a researcher. Still wondering who he'd like to be when or <em>if</em> he grows up, Leszek is enjoying the duality of Japan, where high technology meets tradition and respect for nature.</p>
          </div>
          </section>
        </div>
      </div>
      <div class="column-6">
        <div class="column-4">
          <div class="teamphoto">
            <img src="/img/david.jpg"  alt="Photo of David">
            <h3>David</h3>
            <h4>The Expert Leader</h4>
          </div>
        </div>
        <div class="column-8">
          <section>
          <div class="description">
            <p>With over a decade of experience hiking around the Kanto area, David is usually seen holding a map and a frisbee. At Hikr, David is the Chief Editor of Articles and Maps.</p>
            <p>David is the founder of <a href="http://www.jambointernational.org" target="_blank">Jambo International</a>, a group combining outdoor activities with charitable causes. Jambo events require no reservation. Money raised during events is sent to selected charities.</p>
          </div>
          </section>
        </div>
      </div>
  </div>
</section>
<section>
  <div class="row">
    <div class="column-6">
      <section>&nbsp;</section>
    </div>
    <div class="column-6">
      <section class="padding">
        <h2>Word of caution</h2>

        <p>Hiking is a fun and healthy way to spend free time, but should be practised with caution. When you go hiking, make sure you're well prepared and healthy.</p>

        <p>While we do our best to make sure the information on Hikr is accurate, we can't control for weather conditions, landslides, fallen trees or overflowing rivers. Please use common sense when planning a hike and, when in doubt, contact local authorities to make sure that the trail is available.</p>

      </section>
      <br><br>
    </div>
  </div>
</section>
