 <div class="blurb-box {{ page.header_class }} {{ include.classes }}">
  <div class="blurb-inside">
    <a href="{{page.url}}">
      <div class="header-image"> 
       {% if page.header_image %} {{ page.header_image | flickr : "large_square" }}{% else %} <img src="/img/noimg.png"> {% endif %} 
        <div class="blurb-title"><h2>{{page.title}}</h2></div>
      </div>
    </a>
  <div class="headings">
    <h4 class="area"><a href="/area/{{page.area}}/">{{page.area}}</a>, <a href="/pref/{{page.prefecture}}/">{{page.prefecture}}</a></h4>
    <!-- <div class="author">by {{page.author}} </div> -->
  </div>
  </div>
</div>