<footer>
  <div class="container">
    <section>
      <div class="row">
        <div class="column-3">
          <section>
            <ul class="menu">
              <li><a href="/about/">About Hikr</a></li>
            </ul>
            <br>
            <a target="_blank" href="http://twitter.com/hikr_jp" class="icon twitter">&nbsp;</a>
            <a target="_blank" href="http://www.flickr.com/photos/104745110@N03/" class="icon flickr">&nbsp;</a>
          </section>
        </div>
        <div class="column-9">
          <section>
            <p><strong>Hikr.jp</strong> is a growing collection of hiking courses in Japan. We are currently in open beta. If you'd like to contribute or report bugs, mistakes or say "GOOD JOB!", <a href="/about/contact.html">contact us</a>.</p>
            <p>Copyright &copy; by hikr.jp. Articles are copyright of their respective authors, released under a <a target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons 3.0 Attribution Share-alike license</a>. Pictures are copyright of their respective authors and used with permission.</p>
         </section>
        </div>
        <br class="clear">
      </div>
    </section>
  </div>
</footer>
