<form id="search_form">
<div class="hikr-menu">
  <a href="/" class="logo-menu">hikr.jp</a>
  <ul id="main-menu">
    <li class="{{ page.menu.guide }}"><a href="/">Guide</a></li>
  </ul>
  <div class="search-bar">
    <input name="search" placeholder="Search">
  </div>
</div>
<div class="search-results">
</div>
</form>