<div class="summary-box {{ page.header_class }}">
  {% if page.header_image %}
    <div class="header-image"> 
      <a href="{{page.url}}">{{ page.header_image | flickr : "large" }}</a>
    </div>
  {% endif %}
  <div class="headings">
    <a href="{{page.url}}"><h2>{{page.title}}</h2></a>
    <h4 class="area"><a href="/area/{{page.area}}.html">{{page.area}}</a>, <a href="/pref/{{page.prefecture}}.html">{{page.prefecture}}</a></h4>
    <div class="author">by {{page.author}} </div>
    <br class="clear">
  </div>
  {% if page.summary %}
  <div class="summary">
    {{page.summary | markdownify }}
    <div class="tags">
      {% for tag in page.tags %}
       <a href="/tag/{{tag | urlize}}.html"><span class="tag">{{tag}}</span></a>
      {% endfor %}
    </div>
  </div>
  <br class="clear">
  {% endif %}
  <br class="clear">
</div>