<div class="thumb-box {{ page.header_class }} {{ include.classes }}">
  <div class="thumb-inside">
    <div class="header-image"> 
      <a href="{{page.url}}">
         {% if page.header_image %}
         {{ page.header_image | flickr : "large_square" }}
         {% else %}
         <img src="/img/noimg.png">
         {% endif %}
       </a>
      <h3><a class="thumb-title" href="{{page.url}}">{{page.title}}</a></h3>
    </div>
  </div>
</div>