---
layout: guide
---
<style type="text/css">
  textarea#article_md{
    width: 100%;
    border: none;

  }
  #article_md:focus{
    border: none;
    box-shadow: none;
    outline: none;
  }
  #article_form input, #article_form textarea{
    font-family: Andale Mono, monospace;
    font-size: 15px;
    line-height: 1.5;
    color: black;
    background: white;
  }
</style>
<script src="/js/jquery.autosize.js"></script>
<div class="map-on-left">
  <div id="map">
    <div class="coords"></div>
  </div>

  <div class="article-container">
    <form id="article_form">
      <fieldset>
        <input id="article_title" type="text">
        <textarea id="article_md">
        </textarea>
      </fieldset>
    </form>
  </div>
  <div id="plot"></div>
</div>

<script type="text/javascript">


  window.API_URL = "http://localhost:9393";

  function initEdit(){
    var hash = window.location.hash || "#"
    var path = hash.replace(/#/,'');
    $("#article_md").autosize();
    $.getJSON(API_URL+"/api/article/"+path+"?callback=?", function(data){
      console.log(data);
      $("#article_title").val(data.meta.title);
      $("#article_md").val(data.markdown).trigger("autosize.resize");
      var maps = data.meta.map;
      for(var i in maps){
        maps[i] = '/c/'+path+'/'+maps[i];
      }
      console.log(data.meta.map);

      hikr = new Hikr("map");
      hikr.loadMaps(maps,function(){
        hikr.makeEditable();
      });
    })
  }

  window.onload = function(){
    $('textarea').autosize();   
    initEdit();
  };

</script>