---
layout: home
title: Hiking. With friends.
skip_search: true
---

<div class="courses">
{% for page in paginator.posts %}
<div class="home-summary column-4 box size8">
<section>
  {% include summary.html %}
</section>
</div>
{% endfor %}
<br class="clear">
</div>
<br class="clear">

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% else %}
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% else %}
  {% endif %}
</div>
{% endif %}

<script type="text/javascript">

  $(document).ready(function(){ 

   setInterval(function(){
    $(".courses").nested({
      gutter: 1,
      animate: false,
      resizeToFit: false,
    });
  }, 1000);


  });

</script>