---
layout: landing
title: Hiking with friends
map:
 - /data/courses.json
---

<section class="bck hero">
<div class="row">
  <div class="column_12 padding on-photo text center">
    <br>
    <h2>Hiking. With friends.</h2>
    <br>
    <h3>Coming soon.</h3>
  </div>
</div>
</section>

<section class="bck theme padding">
  <div class="row">
    <div class="column_4 offset_2 text center">
        <h4>Sign up for updates</h4>
    </div>
    <div class="column_4 form subscribe text center">
      <div id="mc_embed_signup">
        <form action="http://hikr.us7.list-manage.com/subscribe/post?u=ed00142426b464246887fc6d2&amp;id=cf8be08c43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <fieldset>
            <input class="email" placeholder="Your e-mail address" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            <button class="button alert icon envelope"  type="submit" value="" name="subscribe"></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="bck lighter padding">
  <div class="row">
    <div class="column_4 text center">
      <h4 class="margin-bottom"><span class="huge icon map-marker"></span><br>Hiking maps</h4>
      <p></p>
    </div>
    <div class="column_4 text center">
      <h4 class="margin-bottom"><span class="huge icon calendar"></span><br>Hike planning</h4>
      <p></p>
    </div>
    <div class="column_4 text center">
      <h4 class="margin-bottom"><span class="huge icon group"></span><br>Hiking groups</h4>
      <p></p>
    </div>
  </div>
</section>
