.leaflet-label {

}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
}

.leaflet-label:before {
	content: '\25C0';
	position: absolute;
	text-shadow: 0 0 2px #fff, 1px 0 1px #fff, 0 1px 1px #fff, -1px 0 1px #fff, 0 -1px 1px #fff;
	left: -10px;
}