@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

body form input[type="text"]:focus,body .form input[type="text"]:focus,body form input[type="password"]:focus,body .form input[type="password"]:focus,body form input[type="date"]:focus,body .form input[type="date"]:focus,body form input[type="datetime"]:focus,body .form input[type="datetime"]:focus,body form input[type="email"]:focus,body .form input[type="email"]:focus,body form input[type="number"]:focus,body .form input[type="number"]:focus,body form input[type="search"]:focus,body .form input[type="search"]:focus,body form input[type="tel"]:focus,body .form input[type="tel"]:focus,body form input[type="time"]:focus,body .form input[type="time"]:focus,body form input[type="url"]:focus,body .form input[type="url"]:focus,body form select:focus,body .form select:focus,body form textarea:focus,body .form textarea:focus {
    border-color:#1abc9c;
}
body .bck.color nav[data-tuktuk=menu] &>a:hover,body .bck.dark nav[data-tuktuk=menu] &>a:hover {
    background-color:rgba(0,0,0,0.07);
}
body:not(.color):not(.dark) a:not(.button):hover,body:not(.color):not(.dark) a:not(.button):active {
    color:#1abc9c;
}
body form label,body .form label {
    font-weight:bold;
}
body .button .icon,body button .icon {
    opacity:.6;
}
body .button:not(.transparent):hover,body button:not(.transparent):hover {
    -webkit-box-shadow:inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -moz-box-shadow:inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -ms-box-shadow:inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -o-box-shadow:inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    box-shadow:inset 0 0 5em rgba(0,0,0,0.15),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
}
body {
    color:#222;
    font-size:16px;
    font-family:"Open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    background:#fff;
    .bck.theme {
        background-color:#1abc9c;
    }
    .radius {
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        -ms-border-radius:4px;
        -o-border-radius:4px;
        border-radius:4px;
    }
    .bck.alert {
        background-color:#e74c3c !important;
    }
    .bck.light {
        background-color:#ecf0f1;
    }
    table {
        background:#fff;
        color:#34495e;
        border:.1em solid #c4d2df;
        td.highlight {
            background-color:#1abc9c !important;
            color:#fff;
        }
        tr:nth-child(even) {
            td {
                background-color:#f3f6f9;
            }
        }
        th {
            background-color:#c4d2df;
            color:#fff;
        }
    }
    nav[data-tuktuk=menu] {
        & > a {
            -webkit-border-radius:2px;
            -moz-border-radius:2px;
            -ms-border-radius:2px;
            -o-border-radius:2px;
            border-radius:2px;
        }
        & > a.active {
            color:#34495e;
            background-color:rgba(0,0,0,0.1);
            .icon {
                color:#1abc9c;
            }
        }
        & > a:hover {
            background-color:rgba(0,0,0,0.05);
        }
    }
    [data-control="checkbox"] {
        background:#a7babe;
        color:#dee5e7;
        font-weight:700;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;
        border-radius:20px;
        label {
            -webkit-border-radius:20px;
            -moz-border-radius:20px;
            -ms-border-radius:20px;
            -o-border-radius:20px;
            border-radius:20px;
            background:#658289;
        }
    }
    .color.white {
        color:#fff !important;
    }
    div.img {
        background:#ecf0f1;
    }
    .color.default {
        color:#34495e !important;
    }
    .bck.dark {
        background-color:#2c3e50;
    }
    :not(.icon).tag {
        color:#fff !important;
        border:solid 1px rgba(0,0,0,0.1);
        -webkit-border-radius:2px;
        -moz-border-radius:2px;
        -ms-border-radius:2px;
        -o-border-radius:2px;
        border-radius:2px;
    }
    .color.theme {
        color:#1abc9c !important;
    }
    [data-control="checkbox"].checked {
        background-color:#1abc9c;
        color:#fff !important;
        label {
            background-color:#138d75;
        }
    }
    .text.shadow {
        -webkit-text-shadow:0 1px 1px rgba(0,0,0,0.5);
        -moz-text-shadow:0 1px 1px rgba(0,0,0,0.5);
        -ms-text-shadow:0 1px 1px rgba(0,0,0,0.5);
        -o-text-shadow:0 1px 1px rgba(0,0,0,0.5);
        text-shadow:0 1px 1px rgba(0,0,0,0.5);
    }
    .bck.color {
        background-color:#34495e;
    }
    hr {
        margin:15px 0;
        background:#ecf0f1;
        background-color:rgba(0,0,0,0.1);
    }
}
body .button:not(.transparent):disabled,body button:not(.transparent):disabled,body .button:not(.transparent).disabled,body button:not(.transparent).disabled {
    background:rgba(255,255,255,0.2);
    color:#999 !important;
}
body .bck.color a.active,body .bck.dark a.active {
    color:#fff !important;
}
body form input[type="checkbox"]:checked,body .form input[type="checkbox"]:checked,body form input[type="radio"]:checked,body .form input[type="radio"]:checked {
    border-color:#1abc9c;
}
body nav[data-tuktuk=menu] &>a:not(.active):not(:hover) &>.icon,body nav[data-tuktuk=menu] &>a small {
    opacity:.6;
    font-weight:400;
}
body:not(.color):not(.dark) {
    a {
        color:#34495e;
    }
}
[data-tuktuk=boxes] {
    aside {
        background:#fff;
        color:#476481;
        [data-menu] {
            & > a:not(.button).active {
                background:#1abc9c;
                color:#fff;
            }
            & > a:not(.button) {
                -webkit-border-radius:2px;
                -moz-border-radius:2px;
                -ms-border-radius:2px;
                -o-border-radius:2px;
                border-radius:2px;
            }
        }
        header {
            -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
            -moz-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
            -ms-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
            -o-box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
            box-shadow:inset 0 -1px 0 rgba(0,0,0,0.1);
        }
    }
}
[data-tuktuk="modal"] {
    header {
        background:#1abc9c !important;
        color:#fff;
    }
}
body .button.transparent,body button.transparent {
    background:none !important;
}
body .button:not(.transparent).alert,body button:not(.transparent).alert {
    background-color:#e74c3c;
}
body form input[type="checkbox"],body .form input[type="checkbox"],body form input[type="radio"],body .form input[type="radio"] {
    background:#fff;
    border:2px solid #dce4ec;
}
body .bck.color nav[data-tuktuk=menu] &>a.active,body .bck.dark nav[data-tuktuk=menu] &>a.active {
    background-color:rgba(0,0,0,0.15);
}
body .button,body button {
    color:#fff !important;
    font-weight:bold !important;
    -webkit-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
    -moz-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
    -ms-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
    -o-text-shadow:rgba(0,0,0,0.1) 0 1px 0;
    text-shadow:rgba(0,0,0,0.1) 0 1px 0;
}
body form input[type="checkbox"],body .form input[type="checkbox"] {
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
}
body .bck.color hr,body .bck.dark hr {
    background:#415b75;
    background:rgba(0,0,0,0.2);
}
@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");
body form input[type="text"],body .form input[type="text"],body form input[type="password"],body .form input[type="password"],body form input[type="date"],body .form input[type="date"],body form input[type="datetime"],body .form input[type="datetime"],body form input[type="email"],body .form input[type="email"],body form input[type="number"],body .form input[type="number"],body form input[type="search"],body .form input[type="search"],body form input[type="tel"],body .form input[type="tel"],body form input[type="time"],body .form input[type="time"],body form input[type="url"],body .form input[type="url"],body form select,body .form select,body form textarea,body .form textarea {
    background-color:#fff;
    color:#34495e;
    border:2px solid #dce4ec;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    -webkit-transition:border-color 400ms;
    -moz-transition:border-color 400ms;
    -ms-transition:border-color 400ms;
    -o-transition:border-color 400ms;
    transition:border-color 400ms;
}
body .bck.color a,body .bck.dark a {
    color:#fff;
}
body .button:not(.transparent).success,body button:not(.transparent).success {
    background-color:#2ecc71;
}
body .button:not(.transparent):active,body button:not(.transparent):active {
    -webkit-box-shadow:inset 0 0 5em rgba(0,0,0,0.3),inset 0 .15em 0 rgba(0,0,0,0.1);
    -moz-box-shadow:inset 0 0 5em rgba(0,0,0,0.3),inset 0 .15em 0 rgba(0,0,0,0.1);
    -ms-box-shadow:inset 0 0 5em rgba(0,0,0,0.3),inset 0 .15em 0 rgba(0,0,0,0.1);
    -o-box-shadow:inset 0 0 5em rgba(0,0,0,0.3),inset 0 .15em 0 rgba(0,0,0,0.1);
    box-shadow:inset 0 0 5em rgba(0,0,0,0.3),inset 0 .15em 0 rgba(0,0,0,0.1);
}
body .bck.theme,body .bck.alert {
    color:#fff;
}
body .button:not(.transparent),body button:not(.transparent) {
    background-color:#1abc9c;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    -ms-border-radius:4px;
    -o-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -moz-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -ms-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -o-box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    box-shadow:inset 0 .1em 0 rgba(255,255,255,0.1),inset 0 -.15em 0 rgba(0,0,0,0.2),0 .15em 0 rgba(0,0,0,0.075);
    -webkit-font-smoothing:antialiased;
}
body form input[type="checkbox"]:checked:after,body .form input[type="checkbox"]:checked:after,body form input[type="radio"]:checked:after,body .form input[type="radio"]:checked:after {
    color:#1abc9c;
}
body .bck.color,body .bck.dark {
    color:#c4d2df;
}
body .button:not(.transparent).secondary,body button:not(.transparent).secondary {
    background-color:#a7babe;
    color:#ecf0f1;
}
body form .select:after,body .form .select:after {
    color:#dce4ec;
}
body form input[type="text"].error,body .form input[type="text"].error,body form input[type="password"].error,body .form input[type="password"].error,body form input[type="date"].error,body .form input[type="date"].error,body form input[type="datetime"].error,body .form input[type="datetime"].error,body form input[type="email"].error,body .form input[type="email"].error,body form input[type="number"].error,body .form input[type="number"].error,body form input[type="search"].error,body .form input[type="search"].error,body form input[type="tel"].error,body .form input[type="tel"].error,body form input[type="time"].error,body .form input[type="time"].error,body form input[type="url"].error,body .form input[type="url"].error,body form select.error,body .form select.error,body form textarea.error,body .form textarea.error,body form input[type="text"]:required,body .form input[type="text"]:required,body form input[type="password"]:required,body .form input[type="password"]:required,body form input[type="date"]:required,body .form input[type="date"]:required,body form input[type="datetime"]:required,body .form input[type="datetime"]:required,body form input[type="email"]:required,body .form input[type="email"]:required,body form input[type="number"]:required,body .form input[type="number"]:required,body form input[type="search"]:required,body .form input[type="search"]:required,body form input[type="tel"]:required,body .form input[type="tel"]:required,body form input[type="time"]:required,body .form input[type="time"]:required,body form input[type="url"]:required,body .form input[type="url"]:required,body form select:required,body .form select:required,body form textarea:required,body .form textarea:required {
    border-color:#e74c3c !important;
    color:#e74c3c;
}
